{{>header}}
{{>navbar}}

<div class="row">

    <div class="col-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, incidunt quia veniam explicabo magni quo labore beatae a quibusdam cumque voluptate error dignissimos cum dicta nobis commodi recusandae libero vitae.</p>
    </div>
    <div class="col-4">
        <img src="" class="img-thumbnail">
    </div>

</div>

{{>footer}}